@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
/* font-family: 'Josefin Sans', sans-serif; */
/* :root {

} */


:root{
    --VeryDarkBlue: hsl(235, 21%, 11%);
    --VeryDarkDesaturatedBlue: hsl(235, 24%, 19%);
    --LightGrayishBlue: hsl(234, 39%, 85%);
    --LightGrayishBlue: hsl(236, 33%, 92%); /*hover*/
    --DarkGrayishBlue: hsl(234, 11%, 52%);
    --VeryDarkGrayishBlue: hsl(233, 14%, 35%);
    --VeryDarkGrayishBlue: hsl(237, 14%, 26%);
}

*{
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
}

p, input{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
}

.absolute{
    position: absolute;
}

.relative{
    position: relative;
}

.flex{
    display: flex;
}

button{
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
}